.header_background {
    background:  #081A24;
    padding: 2px 0px !important;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    width: 100%;
    position: fixed;
    padding-right: 16px;
    /* overflow-y: hidden; */
    z-index:999;
}

/* .header {
    position: relative;
    transition: background-color 0.3s ease-in-out;
} */

/* .sticky {
    background: none repeat scroll 0 0 #081A24;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 
    z-index: 999;
} */

.gold_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gold_right_navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.nav_list {
    display: flex;
    justify-content: center;
    gap: 60px;
    cursor: pointer;
}

.nav_list li a {
    text-decoration: none;
    color: #ffffff;
}

.gold_right_navbar li {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}


/* mobileHeder */
.mobileHeader {
    /* position: fixed;
    top: 0;
    right: 0;
    z-index: 100; */
    padding: 0 10px;
    ;
}

.hamburgerIcon {
    cursor: pointer;
    /* background: linear-gradient(90.12deg, #C5A643 0.1%, #AE8323 12.05%, #C5A643 22.45%, #CEA83D 33.88%, #BC932E 41.16%, #B28726 47.4%, #C09832 56.75%, #D7B344 68.19%, #EAC954 74.43%, #F6E472 89.5%, #EAC954 99.9%), #63BDFF; */
    border-radius: 4px;
    font-size: 35px;
}

.iconBar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin-bottom: 6px;
}

.menuContainer {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #09202D;
    transition: right 0.3s ease-in-out;
}

.menuItems {
    list-style-type: none;
    padding: 10px 20px 20px 10px;
    margin-top: 20px;
}

.menuItems li {
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.open {
    right: 0;
    z-index: 9999;
}


/* Loader */
.loader_overlay {
    filter: blur(5px);
}
/* @media screen and (max-width:767px) {
    .header_background {
        padding: 12px 0px !important;
    }
} */