/* new toggle css */
.buy_and_sell_bg {
    background:  #092637 ;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    -webkit-backface-visibility: hidden;
  }
  /* .buy_and_sell_bg :active {
    background: linear-gradient(0.69deg, #0B4263 0.62%, #081A24 101.27%);
  } */
  
  
  .investment {
    font-family: 'NunitoSans-ExtraBold';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 2vh;
  }
  
  
  .gold_bars_with_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
  
  }
  
  .gold_bars {
    position: relative;
    left: 0px;
  
  }
  
  .gold_bars_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FEF468;
    padding: 5px 5px 5px 5px;
    margin-left: -40px;
    /* background: rgba(254, 244, 104, 0.1); */
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #FEF468;
    font-family: 'NunitoSans-ExtraBold';
  
  }
  
  .digi_gold_content {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-family: 'NunitoSans-Bold';
    color: #FFFFFF;
  }
  
  .secured_with_Img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .buy {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px 0px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
  }
  
  .sell {
    background: rgba(44, 123, 172, 0.1);
    border-radius: 0px 8px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
  }
  
  .sell_buy_content {
    display: flex;
    justify-content: space-between;
  }
  
  .secured {
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    font-family: 'NunitoSans-Bold';
    /* text-transform: capitalize; */
    color: #FFFFFF;
  }
  
  
  .toggle_bg {
    min-width: 180%;
    padding: 20px;
    background: rgba(34, 39, 57, 0.2);
  }
  
  .toggle,
  .toggle_silver {
    --width: 150px;
    --height: calc(var(--width) / 3);
  
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }
  
  .toggle input,
  .toggle_silver input {
    display: none;
  }
  
  .toggle .slider,
  .toggle_silver .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    /* background: #3E4351; */
    box-shadow: inset 0px 6.06667px 4.04444px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
    border-radius: 60.11px;
  background: rgba(44, 123, 172, 0.20);
  box-shadow: 0px 6.066667079925537px 4.044444561004639px 0px rgba(0, 0, 0, 0.15) inset;
  }
  
  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50.77%, rgba(255, 255, 255, 0.6) 97.75%), linear-gradient(180deg, rgba(188, 114, 14, 0.8) 0%, rgba(243, 207, 100, 0.65) 18.75%, rgba(243, 203, 91, 0.8) 42.71%, rgba(255, 250, 175, 0.8) 82.29%, rgba(188, 114, 14, 0.8) 100%);
    backdrop-filter: blur(2.02222px);
  
    transition: all 0.3s ease-in-out;
  }
  
  .toggle_silver .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background: linear-gradient(90deg, rgba(246, 212, 104, 0.25) 0%, rgba(246, 212, 104, 0) 31.6%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(231, 231, 231, 0.5);
    backdrop-filter: blur(2.02222px);
    transition: all 0.3s ease-in-out;
  }
  
  .toggle input:checked+.slider,
  .toggle_silver input:checked+.slider {
    /* background: #3E4351; */
    box-shadow: inset 0px 6.06667px 4.04444px rgba(0, 0, 0, 0.15);
    border-radius: 60.11px;
  }
  
  .toggle input:checked+.slider::before,
  .toggle_silver input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }
  
  .sell_buy {
    background: rgba(99, 189, 255, 0.1);
    border-radius: 8px;
    margin: 0px auto;
    margin-right: 0px;
    max-width: 460px;
    /* float: right; */
  }
  
  .toggle .labels,
  .toggle_silver .labels {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }
  
  .toggle .labels::after,
  .toggle_silver .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 40px;
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }
  
  .toggle .labels::before,
  .toggle_silver .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 10px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }
  
  .toggle input:checked~.labels::after,
  .toggle_silver input:checked~.labels::after {
    opacity: 0;
  }
  
  .toggle input:checked~.labels::before,
  .toggle_silver input:checked~.labels::before {
    opacity: 1;
  }
  
  .live_gold_content {
    padding: 10px 10px 2px 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'NunitoSans-SemiBold';
  }
  
  .gold_price_rise {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-family: 'NunitoSans-SemiBold';
  }
  
  .live_gold_price {
    padding: 2px 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #FFD835;
    font-family: 'NunitoSans-ExtraBold';
  }
  
  .live_silver_price {
    padding: 2px 20px;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(90deg, #CACACA 2.5%, #FFFFFF 48.77%, #C9C7C7 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 31px;
    font-family: 'NunitoSans-ExtraBold';
  }
  
  .up_arrow {
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #00CD39;
  }
  
  .expire_bg {
    margin-top: 20px;
    background: linear-gradient(89.97deg, rgba(215, 66, 66, 0.2) 0.02%, rgba(215, 66, 66, 0) 84.56%);
    padding: 5px;
    /* min-width: 250%; */
  }
  
  .expire_content {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FF6B6B;
    padding-left: 20px;
  }
  
  
  
  /* trusted brand css */
  .trusted_and_secured {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .trusted_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    text-transform: capitalize;
    color: #0D1942;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .trusted_brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  
  .input_type {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  
  .from_field {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-size: 12px;
    color: white !important;
    padding: 7px 0;
    background: transparent;
  }
  
  .from_field ::placeholder {
    color: white !important;
  }
  
  .amount {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .amount_price {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 34px;
    padding: 10px 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'NunitoSans-Bold';
  }
  
  .rupees,
  .gram {
    width: 100%;
  }
  
  .coupons_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .coupons {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    font-family: 'NunitoSans-SemiBold';
  }
  
  .view_all {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #FFD662;
    cursor: pointer;
  }
  
  .code_apply {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 20px;
  }
  
  .code {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
  }
  
  .apply {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
    color: #FFD662;
    cursor: pointer;
  }
  
  .form {
    padding: 0px 20px;
  }
  
  .form .gst {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 20px 0px;
    
  }
  
  .form input {
    width: 100%;
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    margin-top: 5px;
    padding: 10px;
    color: #fff;
  }
  
  .sell_buy_btn {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
  
  .complete_kyc_btn {
    display: flex;
    align-items: center;
    gap: 30px;
    /* justify-content: space-between; */
    padding: 20px;
  }
  
  .kyc_btn {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
  
  
    color: #FFFFFF;
  }
  
  .kyc_btn a {
    color: inherit;
    text-decoration: none;
  }
  
  .sell_btn {
    background: #2E445F;
    border-radius: 8px;
    padding: 10px 20px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #FFD662;
  }
  
  
  
  .buy_btn {
    /* background: linear-gradient(90.12deg, #C5A643 0.1%, #AE8323 12.05%, #C5A643 22.45%, #CEA83D 33.88%, #BC932E 41.16%, #B28726 47.4%, #C09832 56.75%, #D7B344 68.19%, #EAC954 74.43%, #F6E472 89.5%, #EAC954 99.9%);
    ;
    display: block;
    border-radius: 8px; */
    width: 100%;
    /* padding: 10px 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer; */
  }
  
  .sell_balance_weight_bg {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    margin: 20px;
  }
  
  .balance_weight {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .wallet_balance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .sell_balance_weight_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
  }
  
  .sell_balance_weight_text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
  }
  
  @media screen and (max-width:767px) {
    .investment {
        margin-top: 30px;
    }
  
    .trusted_brand {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin: 10px;
    }
  
    .input_type {
        margin-top: 10px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
    }
  
    .sell_buy {
        background: rgba(99, 189, 255, 0.1);
        border-radius: 8px;
        margin: -50px auto 20px auto;
        max-width: 550px;
    }
  
  }
  
  .gst_percentage {
    font-size: 14px;
    font-family: 'NunitoSans-ExtraBold';
  }
  
  .gst_input {
    position: relative;
  }
  
  .verified-icon {
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 15px;
    color: white;
  }
  
  
  @media screen and (max-width:480px) {
    .investment {
        margin-top: 5px !important;
    }
  
    .trusted_brand {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 10px;
    }
  }
  @media screen and (max-width:400px) {
  
  
    .trusted_brand {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 10px;
    }
  }
  
  
  
  
  .mobile_google_application {
    margin-top: 30px;
    /* margin-bottom: 30px; */
  }
  
  .mobile_and_application {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  
  .mobile_border {
    background: rgba(41, 48, 69, 0.9);
    border-radius: 50px 50px 0px 0px;
    max-width: 600px;
    padding: 20px 20px 0px 20px;
  }
  
  .download_application {
    margin-top: 100px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    text-transform: capitalize;
    color: #ffffff;
    font-family: 'NunitoSans-Bold';
  }
  
  .google_play,
  .apple_play {
    width: 100%;
    /* padding: 5px 50px; */
    cursor: pointer;
  }
  
  .google_play img,.apple_play img{
    margin: auto;
  }
  .download_btn {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 0px !important;
    margin-top: 30px;
  }
  
  .mobile_time {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 17.875px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.3575px;
    color: #FFFFFF;
  }
  
  .inner_mobile {
    background: #222739;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 10px 0px 10px;
  }
  
  .mobile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .mobile_battery_side {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .application ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .pure_gold {
    height: 400px;
    overflow-y: scroll;
  }
  .progressBar {
    width: 100%;
    /* height: 20px; */
    background-color: #ccc;
  }
  
  .progressFill {
    height: 100%;
    background-color: green;
  }
  .istColor {
    background: rgba(0, 205, 57, 0.40);
  }
  
  .secondColor {
    background: rgba(255, 216, 53, 0.40);
  
  }
  
  .thirdColor {
    background: rgba(208, 0, 0, 0.40);
  }
  
  @media screen and (max-width:767px) {
    .mobile_and_application {
        display: flex;
        flex-wrap: wrap;
    }
  
    .download_application {
        margin-top: 10px;
        margin-left: 10px;
    }
  
    .download_btn {
        display: flex;
        gap: 30px;
        align-items: center;
        flex-direction: column;
        /* margin: 20px; */
    }
  
    .google_play,
    .apple_play {
        width: 100%;
        /* background: #000000; */
        border-radius: 8px;
        padding: 5px 25px;
    }
  
    .investment{
        margin-top: 0px;
    }
  }
  
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  {
  /* CSS styles specific to iPad */
  
  .investment{
    margin-top: 0px;
  }
  }
  
  .startupIndia{
    margin: auto;
    /* margin-top: 10vh; */
    margin-top: 4vh;
    display: flex;
    justify-content: center;
  }