.slider_background {
    background: linear-gradient(0.69deg, #0B4263 0.62%, #081A24 101.27%);
    /* opacity: 0.2;
    filter: blur(102px); */
}

.wave1 {
    background-image: url("/images/wave1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 20px;
}

.wave2 {
    background-image: url("/images/wave2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 20px;

}

.wave3 {
    background-image: url("/images/wave3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 20px;
}


.stories_box {
    display: flex !important;
    justify-content: center !important;
    gap: 70px;

}



.stories_img {
    background: url("/images/Frame1.png"), url("/images/Frame1bg.png");
}

.full_Screen_slider {
    padding: 40px 0 60px 0px;
}

/* .slider_content {
    min-height: 380px;
} */

.slider_content .refer_and_earn {
    /* margin-top: 300px; */
    min-height: 90px;
}

.slider_content .slider_des {
    width: 360px;
}

.refer_btn button {
    width: 40%;
}

.refer_and_earn {
    font-family: 'NunitoSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #FFFFFF;
    width: 100%;
}

.slider_des {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    font-family: DM Sans;
}

.refer_btn {
    margin-top: 40px;

}

.refer_btn button {
    background: #EEC644;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    padding: 15px 10px;
    white-space: nowrap;
    
}

@media screen and (max-width:767px) {
    .full_Screen_slider {
        padding: 0px 0 30px 0px;
    }
    .slider_content {
        width: 100%;
        padding: 10px;
        max-height: 100% !important;
        text-align: center;
    }

    .slider_content .slider_des {
        width: 100%;
        text-align: center;
    }

    .stories_box {
        flex-wrap: wrap;
        gap: 0px;
    }

    .refer_and_earn {
        font-family: 'NunitoSans-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px !important;
    }
}

@media screen and (max-width:480px) {

    .refer_and_earn {
        font-family: 'NunitoSans-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: #FFFFFF;
        width: 100%;
        margin-top: 10px !important;
    }
}