.arrow_back {
  color: white;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  top: 0px;
}

.login_signup,
.enter_otp {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-align: center;
}

.login_to_start {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5eadde;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.investing {
  color: #ffd835;
}

.align_login_data {
  width: 91%;
  margin: auto;
}

.user_mobile_no {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.login_form input {
  margin-top: 5px;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 4px;
  padding: 15px;
  border: none;
  width: 100%;
}

.terms_conditions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}

.terms_conditions input {
  height: 12px;
  width: 12px;
}

.terms_conditions_text {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 5px;
}

.terms_conditions_text a {
  color: #ffffff !important;
  font-size: 10px !important;
}

.terms_conditions_text_profile {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 20px;
  /* margin-bottom: 50px; */
}

.send_otp {
  margin-top: 30px;
  background: linear-gradient(
    90.12deg,
    #c5a643 0.1%,
    #ae8323 12.05%,
    #c5a643 22.45%,
    #cea83d 33.88%,
    #bc932e 41.16%,
    #b28726 47.4%,
    #c09832 56.75%,
    #d7b344 68.19%,
    #eac954 74.43%,
    #f6e472 89.5%,
    #eac954 99.9%
  );
  border-radius: 8px;
  text-align: center;
  /* padding: 10px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.or {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
}

.left_line {
  border-bottom: 0.5px solid rgba(99, 189, 255, 0.2);
  background: linear-gradient(0.69deg, #154c6d 0.62%, #12242e 101.27%);
  border-radius: 8px 0px 0px 8px;
  transform: rotate(-180deg);
  width: 45%;
}

.or_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.right_line {
  border-bottom: 0.5px solid rgba(99, 189, 255, 0.2);
  background: linear-gradient(0.69deg, #154c6d 0.62%, #12242e 101.27%);
  border-radius: 8px 0px 0px 8px;
  transform: rotate(-180deg);
  width: 45%;
}

.give_miscall {
  border: 1px solid #ffd662;
  border-radius: 8px;
  text-align: center;
  /* padding: 10px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffd662;
}

.send_otp_text {
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5eadde;
  text-align: center;
  margin-top: 10px;
  display: inline;
}

.otp_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.otp_box input {
  width: 42px !important;
  height: 45px;
  text-align: center;
  font-size: 24px;
  border-radius: 4px;
  outline: none;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 4px;
  margin: 5px;
  padding: 0px;
}

/* miscall css */
.give_miscall_text {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.give_miscall_number {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #ffffff;
}
.dobcalender {
  position: absolute;
}
.inputStyle {
  margin: auto;
}
.pencil_edit{
  cursor: pointer;
}


