.investment_bg {
    /* background: linear-gradient(0.69deg, #0B4263 0.62%, #081A24 101.27%); */
    padding-top: 30px;
    padding-bottom: 30px;
}

.investment_text_image {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.investment_heading {
    margin-top: 40px;
    font-family: 'NunitoSans-ExtraBold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.investment_text {
    margin-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF;
    font-family: 'NunitoSans-SemiBold';
    /* width: 500px; */
}
.investment_image{
    float: right;
}

@media screen and (max-width:767px) {
.investment_image {
    margin-top: 20px;
        float:left !important;
    }
    .investment_heading {
        margin-top: 20px;
    }
    .investment_text {
        margin-top: 20px;
    }
    .investment_image{
        text-align: center;
    }
    .investment_bg {
        padding-bottom: 0px;
    }
    
}
