@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url(../../public/font/NunitoSans_Light.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url(../../public/font/NunitoSans_ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url(../../public/font/NunitoSans_Bold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(../../public/font/NunitoSans_SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Black;
  src: url(../../public/font/Lato-Black.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Bold;
  src: url(../../public/font/Lato-Bold.ttf) format("truetype");
}

@font-face {
  font-family: Lato-Regular;
  src: url(../../public/font/Lato-Regular.ttf) format("truetype");
}
body {
  font-family: 'Poppins', sans-serif;
  font-family: Lato-Regular;
  background: #092637;
}

.text-xxs {
  font-size: 10px;
}
.bg-themeBlue {
  background: #cde8f1;
}
.text-themeBlueLight {
  color: #cde8f1;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.poppins-extraBold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.video-player {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* ::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cde8f1;
  border-radius: 10px;
} */

.bold {
  font-family: Lato-Bold;
}

.extrabold {
  font-family: Lato-Black;
}
.font-8x {
  font-size: 8px;
}
.calendarElement {
  position: absolute;
  z-index: 100;
}
.bg-themeLight001 {
  background: rgb(0 0 0 / 20%);
}

.bg-theme {
  background: #092637;
}
.bg-themeLight {
  background: rgba(44, 123, 172, 0.2);
}
.bg-themeLight01 {
  background: rgba(44, 123, 172, 0.1);
}
.bg-themeDarkBlue {
  background: #0e3a55;
}
.bg-themeYellow {
  background: #fdfcf0;
}
.text-themeBlue {
  color: #7f9cad;
}
.product001:hover {
  /* transform: scale(1.5); */
  transform: scale(1.1) !important;
  transition: transform 0.5s;
}
.bg-header {
  background: #081a24;
}
.faq-back {
  background: #27506d;
  z-index: 20;
}
.text-goldTheme {
  color: #fef468;
}
.text-gold01 {
  color: #ffd835;
}
.bg-orderTab {
  background-color: #324f61;
}

.swalButtonsNo {
  padding: 3px 20px !important;
  text-align: center;
  margin: 5px;
  text-transform: capitalize;
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 4px;
  font-size: 22px !important;
  color: "#fff";
}

.swalButtonsYes {
  padding: 3px 18px !important;
  text-align: center;
  margin: 5px;
  text-transform: capitalize;
  background-color: #dbbc14 !important;
  border-radius: 4px;
  font-size: 22px !important;
  color: #000 !important;
}

.border-gold {
  border: 1px solid #fef468;
}
.tab-bg {
  background: #11354b;
}

.timer {
  background: linear-gradient(
    89.97deg,
    rgba(215, 66, 66, 0.2) 0.02%,
    rgba(215, 66, 66, 0) 84.56%
  );
  color: #ff6b6b;
}

.border-1 {
  border: 1px solid #cde8f1;
}

.couponText {
  color: #063b5b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gatag {
  display: none;
}
/* Firefox */
/* Standard appearance property */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  -webkit-appearance: none; /* Chrome, Safari, and Opera */
  appearance: none; /* Standard syntax */
}

/* toggle button */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 168px;
  height: 46px;
  /* margin-left: 10px; */
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

/* Add these styles to your CSS */
.swal2-image-custom {
  position: absolute;
  top: -100px; /* Adjust to position half outside the modal. Negative value pulls it upwards */
  left: 50%;
  transform: translateX(-50%); /* Centers the image horizontally */
  width: 200px;
  height: 200px;
  z-index: 1600;
  /* SweetAlert2 uses high z-index values, ensure this is higher */
}

.swal2-image-customs {
  position: absolute;
  top: -100px; /* Adjust to position half outside the modal. Negative value pulls it upwards */
  left: 50%;
  transform: translateX(-50%); /* Centers the image horizontally */
  width: 150px;
  height: 150px;
  z-index: 1600; /* SweetAlert2 uses high z-index values, ensure this is higher */
}

/* Custom styles for SweetAlert2 */
.swal2-popup-custom {
  background-color: #11354b;
}

.swal2-title-custom {
  color: white; 
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9cd23;
  transition: 0.5s;
  border-radius: 34px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff; /* Set initial color to Silver */
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c0c0c0; /* Change background color to Silver when checked */
}

input:checked + .slider:before {
  transform: translateX(118px);
}

.text-silver,
.text-gold {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #11354b;
  font-weight: bold;
  font-family: "NunitoSans-ExtraBold";
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.text-silver {
  opacity: 1;
  transition: 0.4s;
}

.text-gold {
  opacity: 0;
  transition: 0.4s;
}
.text-7x {
  font-size: 7px;
}

.otpInput input {
  border: 1px solid #cde8f1 !important;
}

input:checked + .slider ~ .text-silver {
  opacity: 0;
}

input:checked + .slider ~ .text-gold {
  opacity: 1;
}

.imageContainer {
  background: linear-gradient(0.69deg, #e1f2f9 0.62%, #a6d7f1 101.27%);
}

.backSlider {
  background-image: url(/images/wave1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

.tabs-component1 [role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0px 0px;
  background: #092637;
  border-radius: 15px;
}

.tabs-component1 [role="tablist"] button {
  border-bottom: 3px solid;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: block;
  padding: 0rem 1rem;
  cursor: pointer;
  margin: 0 1px;
  outline: none;
  transition: border 0.2s ease-in-out 0s;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #7f9cad;
  opacity: 0.5;
}

.tabs-component1 [role="tablist"] button.active {
  color: #b7d0df;
  opacity: 1;
}

.tabs-component1 [role="tabpanel"] {
  text-align: left;
}

.tabs-component1.vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tabs-component1.vertical [role="tablist"] {
  flex-direction: column;
}

.tabs-component1.vertical [role="tabpanel"] {
  flex: 1;
}

.tabs-component1 [role="tablist"] button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bg-themeLight001 {
  background-color: rgba(44, 0, 0, 0.2);
}

.text-shine {
  background: linear-gradient(
    110deg,
    rgba(240, 164, 48, 1),
    45%,
    rgba(255, 255, 20, 1),
    55%,
    rgba(240, 164, 48, 1)
  );
  background-size: 260% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textShine 2.5s ease-out infinite alternate;
  font-weight: 900;
}

.silver-shine {
  background: linear-gradient(
    110deg,
    #cde8f1,
    45%,
    rgb(228, 228, 215),
    55%,
    rgb(150, 146, 140)
  );
  background-size: 260% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textShine 2.5s ease-out infinite alternate;
  font-weight: 900;
}
@keyframes textShine {
  to {
    background-position: -200%;
  }
}

.text-shine::after {
  content: "";
  border-color: rgba(240, 164, 48, 1);
  background: rgba(240, 164, 48, 1);
}

.loginGrad {
  background: linear-gradient(0.69deg, #154c6d 0.62%, #12242e 101.27%);
}

.bg-contact {
  background: linear-gradient(0.69deg, #154c6d 0.62%, #12242e 101.27%);
}

.coins_background {
  background-color: #174560;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.13);
}

.coins_backgroun {
  background-color: #0b2f47;
}

input.inputBox {
  font-size: 16px;
  padding: 2px 2px 1px 2px;
  background-color: #092637;
  text-align: center;
}

@media (max-width: 480px) {
  .mySwiperblog {
    height: 150px !important;
  }
}

.swalButtonsYes {
  padding: 3px;
  text-align: center;
  margin: 5px;
  text-transform: capitalize;
  background-color: #1933df;
  border-radius: 4px;
  color: "#fff";
}

.swalButtonsNo {
  padding: 3px;
  text-align: center;
  margin: 5px;
  text-transform: capitalize;
  background-color: #e5270a;
  border-radius: 4px;
  color: "#fff";
}

/* progress bar */
.progress-bar-container {
  border-width: "6px solid red";
  position: relative;
  width: 100%;
  height: 40px; 
  background-color: #cde8f1;
}

.progress-bar {
  border-width: "2px solid red";
  height: 100%;
  background: #c5c5c7;
}

.inner-content {
  border-width: "6px solid red";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adjust padding as needed */
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .cancellations {
    margin-top: -40px !important;
  }
}

/* responsive */
@media (max-width: 1350px) {
  .progress-bar-container {
    height: 40px;
  }
}

@media (max-width: 1279px) {
  .progress-bar-container {
    height: 40px;
  }
}

@media (max-width: 600px) {
  .tabs-component1 [role="tablist"] button {
    border-bottom: 3px solid;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0rem 0.2rem;
    cursor: pointer;
    margin: 0 1px;
    outline: none;
    transition: border 0.2s ease-in-out 0s;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #7f9cad;
    opacity: 0.5;
  }

  /* toggle button */
  .toggle-button {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 42px;
    /* margin-left: 10px; */
  }

  .toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9cd23;
    /* background-color: ; */
    transition: 0.5s;
    border-radius: 34px;
    overflow: hidden;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 3px;
    background-color: #ffffff; /* Set initial color to Silver */
    transition: 0.5s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: #c0c0c0; /* Change background color to Silver when checked */
  }
  
  input:checked + .slider:before {
    transform: translateX(88px);
  }
}

@media (max-width: 480px) {
  .otpInput input {
    width: 2rem !important;
    height: 2rem !important;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* button loader css */
.button-loader {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #a6d7f1; /* Change color as needed */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.fade-section {
  transition: opacity 0.5s ease-in-out;
}

.disabled {
  pointer-events: none; /* This disables clicking */
  opacity: 0.5; /* This makes the button appear disabled or faded */
}


/* ///////////////// */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: transparent; /* Change this if you want a different background */
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 960px;
  position: relative; /* Position relative for absolute positioning of the close button */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: white;
  font-size: 24px;
  cursor: pointer;
}

.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  background-color: #a6d7f1 !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -5px !important;
}


.swal2-modal {
  background: #081a24 !important;
  color: #fff !important;
  box-shadow: 0px 0px 2px #ccc !important;
}

/* Custom CSS or TailwindCSS @media queries */
@media (max-width: 640px) {
  /* Example for smaller devices */
  .custom-button-container {
    padding: 4px 4px; /* Smaller padding */
    font-size: 12px; /* Smaller font size */
  }
}


body.modal-open {
  position: fixed;
  width: 100%;
}

.swal2-container {
  overflow: visible;
}

.swal2-popup {
  overflow: visible !important;
}

.client_grad {
  background: linear-gradient(178deg, #fff, hsla(0, 0%, 100%, 0.71));
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px !important;
  font-weight: bold !important;
}
/* Shimmer Effect */
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold !important;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}


.caret-transparent::before {
  caret-color: transparent;
}

