.footer_background {
  background: rgba(44, 123, 172, 0.2);
}

.footer_content {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px; */
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.gold_img_content {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: justify;
  font-family: 'NunitoSans-SemiBold';
}

.footer_background p,
.email_location ,.contact_location{
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  /* text-transform:lowercase; */
  color: #FFFFFF
}

.email_location {
  text-transform: lowercase;
}
.msg_location {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
}

.communication {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.linkedin,
.instagram,
.twitter,
.facebook {
  margin-bottom: 50px;
  margin-top: 30px;
}

.footer_link a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'NunitoSans-SemiBold';
}

.copy_right {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: capitalize;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  margin-top: -20px;
}

@media screen and (max-width: 767px) {
  .communication {
    display: none;
  }

  .footer_content {
    width: 100%;
  }

  .content {
    flex-wrap: wrap;
  }

  .footer_link {
    margin-top: 20px !important;
    /* text-align: center; */
  }
  .copy_right{
    margin-top: 10px;
  }
}