.transaction_slider_bg {
    background: linear-gradient(0.69deg, #0B4263 0.62%, #081A24 101.27%);
}

.transaction_loading{
    min-height: 50vh;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}