.blog_bg,
.blog_details_bg {
    background: #092637;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    margin-bottom: -25px;
}

.blog_bg h1 {
    font-family: 'NunitoSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */
    padding: 0px 10px 10px 25px;

    color: #FFFFFF;
}

.blog_details {
    margin: 10px;
    background: rgba(44, 123, 172, 0.2);
    width: auto;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    min-height: 40px;
}

.card_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 10px;
}

.read_more {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFD662;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.blog_heading {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 20px 0;
}

.blog_desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.blog_main_image {
    width: 500px;
    height: 300px;
}

@media screen and (max-width:767px) {
    .blogs_heading {
        margin-top: -40px !important;
    }

    .blog_bg h1 {
        padding-left: 10px;
    }

    .blog_details {
        margin: 0px;
    }

    .blog_big_img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    .blog_heading {
        margin-top: 10px;
        padding:  0;
    }
}