.products_slider_bg {
    background: #092637;
    margin-bottom: -21px;
}

.products_text_wallet {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.products_text {
    font-family: 'NunitoSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
    /* padding-left: 15px; */
}

.wallet {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px;
}   

.gold {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #FFD662;
}

.line {
    border-right: 1px solid rgba(44, 123, 172, 0.3);
    height: 30px;
}

.silver {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #FFFFFF;
}

.product_slider_details {
    padding-top: 150px;
    /* display: flex; */
    /* justify-content: center; */
    /* gap: 10px; */
}

.products_images {
    width: 100%;
    position: relative;
}

.image_bg {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
}

.gold_coin_cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}

.cart {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    padding: 10px;
}

.gold_coin h1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;

}

.gold_coin h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* identical to box height, or 27px */


    color: #FFFFFF;

}

.convert_btn {
    background: #0B4060;
    border: 1px solid #FFD662;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.convert_btn p {
    margin: 0px;
    margin-left: 10px;
}

.buy_btn {
    /* background: linear-gradient(90.12deg, #C5A643 0.1%, #AE8323 12.05%, #C5A643 22.45%, #CEA83D 33.88%, #BC932E 41.16%, #B28726 47.4%, #C09832 56.75%, #D7B344 68.19%, #EAC954 74.43%, #F6E472 89.5%, #EAC954 99.9%), #63BDFF; */
    /* border-radius: 4px; */
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    /* padding: 15px; */
    margin: 0 auto;
    margin-top: 20px;
    color: #FFFFFF;
    /* margin: 20px 0; */
    cursor: pointer;
}

/* .buy_btn:hover {
    background: linear-gradient(90.12deg, #80650f 0.1%, #b68b2c 12.05%, #ffd242 22.45%, #CEA83D 33.88%, #BC932E 41.16%, #B28726 47.4%, #ab882e 56.75%, #D7B344 68.19%, #f9d865 74.43%, #ffdc02 89.5%, #8f6f01 99.9%), #0093ff;
    cursor: pointer;
} */

/* .buy_btn:active:after {
    transform: translate(-50%, -50%) scale(10);
    opacity: 1;
    transition-duration: 0.8s;
  } */

.desc_bg {
    margin-top: 20px;
    background: rgba(44, 123, 172, 0.2);
    border-radius: 8px;
    padding: 20px 20px 40px 20px;
  

}

.desc_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5rem;
    text-align:justify ;


    color: #FFFFFF;
}

.left_side {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    color: #FFFFFF;
    min-width: 20%;
}

.right_side {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    max-width: 50%;
    color: #FFFFFF;

}

.product_img {
    height: 150px;
    object-fit: contain;
}
.productSelect{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
@media screen and (max-width:767px) {
    .products_text_wallet {
        padding-top: 40px !important;

    }

    .product_slider_details {
        padding-top: 110px !important;
    }

    .product_details .input-group {
        flex-wrap: inherit !important;
    }
    .products_text {
        padding-left: 0px;
    }
    .productfilter{
        margin-top: 10px;
    }
    .products_text_wallet {
        margin-bottom: 0px;
    }
    .productSelect{
        gap: 15px !important;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:480px) {
    .productSelect{
        gap: 0px !important;
        margin-bottom: 15px;
    }
}



.product_banner{
    padding-top: 15vh;
}


/* faqs css */
.faqs {
    margin-top: 60px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.faqs_bg {
    background: rgba(44, 123, 172, 0.2);
    border-radius: 12px;
}

.faqs_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(44, 123, 172, 0.2);
    border-radius: 12px;
    padding: 15px;
    margin-top: 30px;
}

.faqs_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    color: #FFFFFF
}

.arrow {
    color: #FFFFFF
}

.faqs_description {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.accordion_bg {
    margin-top: 25px;
    border-radius: 12px;
   
}

.accordion-button .collapsed {
    background: #293045 !important;
}
.heading ul{
    padding-left: 10px;
}
.heading ul li{
    list-style-type: disclosure-closed;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 21px;
    margin: 0px;
}
.pinCode{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
}
.pinCode input{
    border: none;
    margin-top: 5px;
    padding: 20px;
    width: 100%;
    border-radius: 4px;
    background: rgba(44, 123, 172, 0.20);
}
.pinCode input::-moz-focus-outer{
    border: none;
}
.check{
    position: absolute;
    right: 10px;
    bottom: 5px;
    border: 1px solid #FFD662;
    border-radius: 73px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 20px;
    color: #FFD662;
    cursor: pointer;
    margin: 5px;
    max-width: 100px;
}
@media screen and (max-width:767px) {
    .faqs {
        margin-top: 0px;
        font-weight: 700;
        font-size: 30px;
        line-height: 150%;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .product_banner{
        padding-top: 8vh;
    }
    .products_text_wallet{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.product_security{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product_security div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.product_security div img{
    /* padding: 10px; */
}