.emailverification{
    background: #092637;
    padding: 30vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.home {
    margin-top: 30px;
    background: linear-gradient(90.12deg, #C5A643 0.1%, #AE8323 12.05%, #C5A643 22.45%, #CEA83D 33.88%, #BC932E 41.16%, #B28726 47.4%, #C09832 56.75%, #D7B344 68.19%, #EAC954 74.43%, #F6E472 89.5%, #EAC954 99.9%);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.home a{
    text-decoration: none;
    color: white;
}
